{% extends 'model.html' %}
{% block title %}
<title>Gráfico mensal</title>
{% endblock %}
{% block links %}
<link rel="stylesheet" href="/static/css/graficos.css">
{% endblock %}
{% block main %}
<h2 class="titulo-tabela">Produtos mais vendidos</h2>
<hr>
<form class="grafico" action="">
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['treemap']
        });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Nome', 'Tipo', 'Quantidade vendida (size)', 'Market increase/decrease (color)'],
                ['Produtos', null, 0 , 0],
                {% for itens in total_vendas %}
                    ['{{itens}} \n {{total_vendas[itens][0]}}', 'Produtos', {{total_vendas[itens][0]}}, {{total_vendas[itens][1]}}],
                {% endfor %}

            ]);

            tree = new google.visualization.TreeMap(document.getElementById('container'));

            tree.draw(data, {
                minColor: '#87CEFA',
                maxColor: '#1E90FF',
                headerHeight: 15,
                fontColor: 'black',
                showScale: true
            });
        }
    </script>
</head>

<body>
    <div id="container"></div>
</body>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Ano</th>
        </tr>
    </thead>
    <tbody>
        {% for item in total_vendas %}
        <tr>
            <th scope="row">{{total_vendas[item][2]}}</th>
            <td>{{item}}</td>
            <td>{{total_vendas[item][0]}}</td>
            <td>2021</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
{% endblock %}